<div th:fragment="loginuser-top-left-picture">
	<div th:if="${loginUser.profilePicLink != ''}">
		<div class="user_profile_menubar_left">
					<a th:href="@{'/users/'+${loginUser.userName}+'/picture/'+${loginUser.profilePicLink}}">
					<img th:src="@{#{picturelink}+${loginUser.ednetUserId}+'/profile_size_pic/'+${loginUser.profilePicLink}}"
						th:title="@{profile Picture}"
						class="img-responsive img-rounded total_round"  />
					</a>
		</div>
	</div>
	<div th:unless="${loginUser.profilePicLink != ''}">
		<div th:if="${loginUser.gender == 'Male'}">
			<div class="user_profile_menubar_left">
				<img src="../static/images/profile_male.jpg"
					class="img-responsive img-rounded"
					th:src="@{/images/profile_male.jpg}" />
			</div>
		</div>
		<div th:unless="${loginUser.gender == 'Male'}">
			<div class="user_profile_menubar_left">
				<img src="../static/images/profile_female.jpg"
					class="img-responsive img-rounded"
					th:src="@{/images/profile_female.jpg}" />
			</div>
		</div>
	</div>

</div>