<div th:fragment="loginuser-top-left-picture">
	<div th:if="${loginUser.profilePicId != 0}">
		<div class="user_profile_menubar_left">
			<img src="../static/images/sylhet.jpg"
				class="img-responsive img-rounded" th:src="@{/images/sylhet.jpg}" />
		</div>
	</div>
	<div th:unless="${loginUser.profilePicId != 0}">
		<div th:if="${loginUser.gender == 'Male'}">
			<div class="user_profile_menubar_left">
				<img src="../static/images/profile_male.jpg"
					class="img-responsive img-rounded"
					th:src="@{/images/profile_male.jpg}" />
			</div>
		</div>
		<div th:unless="${loginUser.gender == 'Male'}">
			<div class="user_profile_menubar_left">
				<img src="../static/images/profile_female.jpg"
					class="img-responsive img-rounded"
					th:src="@{/images/profile_female.jpg}" />
			</div>
		</div>
	</div>

</div>