<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>

<body>
	<div>
		<div th:replace="layout :: menubar"></div>
	</div>
	<div class="full_page">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">

				<div class="edit_profile_mainbody">
					<div class="row profile_heading5">

						<div>
							<a th:href="@{/users/{username}(username=${loginUser.userName})}">
								<div class="col-lg-12 col-md-12 col-sm-12 edit_profile_title">
									<span th:text="${loginUser.firstName}">First Name</span> <span
										th:text="${loginUser.lastName}">Last Name</span>
								</div>
							</a>
						</div>
						<div>
							<div th:if="${message}">
								<h2 th:text="${message}" />
							</div>
							<div>
								<form method="POST" enctype="multipart/form-data" action="/">
									<table>
										<tr>
											<td>File to upload:</td>
											<td><input type="file" name="file" /></td>
										</tr>
										<tr>
											<td></td>
											<td><input type="submit" value="Upload" /></td>
										</tr>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout :: javascript-load"></div>
</body>
</html>