<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
	<div th:replace="layout :: menubar"></div>

	<div class="full_page">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<div class="naz_left_side_panel">
					<div class="panel-heading"
						th:text="${paramUser.firstName +' ' +paramUser.lastName + ' Picture Gallery'}">
						User Picture gallery</div>
					<div class="panel-body pic_upload_area">

						<div id="tabs">
							<ul>
								<li><a href="#tabs-1">Recent Picture</a></li>

								<li><a href="#tabs-2">All Pictures</a></li>
							</ul>
							
							<div id="tabs-1">
								<div th:replace="layouts/user_pic_gallery :: gallery-view"></div>
							</div>
							<div id="tabs-2">User's All Picture will be here</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div>
					<div class=" panel naz_news_panel text-center">
						<div class="panel-heading"
							th:text="${paramUser.firstName +' ' +paramUser.lastName + ' Online Image Space Usage'}">Online
							Image Space Usage</div>
						<div class="panel-body pic_gallery_body">
							<table class="naz_table">

								<tr>
									<td>Current Account Level</td>
									<td>1</td>
								</tr>

								<tr>
									<td>Current Level Space</td>
									<td>10 MB</td>
								</tr>

								<tr>
									<td>Current Used Space</td>
									<td th:text="${totalSize}">Used Space</td>
								</tr>

								<tr>
									<td>Next Level Space</td>
									<td>50 MB</td>
								</tr>

							</table>
						</div>

						<div class="panel-footer">
							<a>More Information</a>
						</div>
					</div>

					<div>
						<div th:if="${paramUser.userName == loginUser.userName}"
							class="naz_news_panel">
							<div class="panel-heading">Picture Upload</div>
							
							<div class="panel-body">
							<form method="POST" enctype="multipart/form-data"
								th:action="@{/users/{username}/picture_gallery(username=${loginUser.userName})}">
								<div class="panel-body pic_upload_area">
									<div th:if="${message}">
										<h4 class="text-center" th:text="${message}"></h4>
									</div>
									<div>

										<label id="upload"> <input type="file" name="file"
											required="required" />
										</label>

									</div>
									<div>
										<div class="modal_body">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<textarea id="modal_pic_discription" th:maxlength="${300}"
														class="modal_pic_discription" name="pictureCaption"
														placeholder="Any Picture discription?"> </textarea>
												</div>
											</div>
											<div class="row pic_textarea_bottom">

												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
													<div class="pic_discription_character_counter">300
														character</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">

													<select id="privacy" name="privacy"
														class="pic_discription_privacy" required="required">
														<option value="Public">PUBLIC</option>
														<option value="Friends">FRIENDS</option>
														<option value="Private">PRIVATE</option>

													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel-footer pic_upload_panel_footer">
									<div class="picture_button_class">
										<input class="pic_upload_button" type="submit" value="Upload" />
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="layout :: javascript-load"></div>

	<script src="../static/js/picture_post.js"
		th:src="@{/js/picture_post.js}"></script>
</body>
</html>